@{
    Layout = "_Layout";
}

<h1 class="new-vendor">Add New Vendor</h1>

<form action="/vendors" method="post" class="vendor-form">
    <div class="form-group">
        <label for="vendorName">Vendor Name</label>
        <input class="form-control" id="vendorName" name="vendorName" />
    </div>

    <div class="form-group">
        <label for="description">Vendor Description</label>
        <input class="form-control" id="description" name="description"/>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
