@{
    Layout = "_Layout";
}


<p>I hope this website helps you organize your vendors more easily.</p>

<p>Explore your vendors! Keep track of their orders, prices, description, and dates ordered!</p>

<a href="/vendors">Browse Vendors</a>
